Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore(deps): update dependency husky to v2.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: provide esm build
  .babelrc
  .gitignore
  .gitignore-sync
  .npmignore
  .npmignore-sync
  package.json
  rollup.config.ts
  tsconfig.json
  tsconfig.typecheck.json
  yarn.lock
Due: prettier-eslint --parser json --write, import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, ignore-sync

feat: provide umd build
  package.json
  rollup.config.ts
  yarn.lock
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: run yarn ci before publish
  package.json
Due: prettier-eslint --write

chore: update eslintignore
  .eslintignore
Due: none

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency rollup to v1.14.4
  package.json
  yarn.lock
Due: prettier-eslint --write

ci: apply size-limit on build
  .circleci/config.yml
  .size-limit.json
  package.json
  yarn.lock
Due: prettier-eslint --write

build: greatly reduce bundle size by rely less on ramda
  .size-limit.json
  package.json
  src/lib/fillDefaultOptions.ts
  src/lib/matchItemProcessor.ts
  src/lib/normalizeString.ts
Due: import-sort --write, prettier-eslint --write, eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 3.1.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency rollup to v1.14.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency rollup to v1.14.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency ignore-sync to v2.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency rollup to v1.15.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2.4.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/jest to v24.0.14
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency rollup to v1.15.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency rollup-plugin-node-resolve to v5.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.5.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.17.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency rollup to v1.15.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency size-limit to v1.3.7
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --parser json --write: any of: .babelrc
  import-sort --write: any of: *.ts
  prettier-eslint --write: (any of: *.ts) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.ts
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.ts
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
