Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

chore(deps): update dependency @types/jest to v24.0.11
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: edit npm package keywords
  package.json
Due: prettier-eslint --write

refactor: use Partial type to rewrite InputOptions type
  src/types.ts
Due: prettier-eslint --write, eslint --fix

chore(deps): update dependency eslint-config-foray1010 to v7.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency jest to v24.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency jest to v24.5.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.2
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency leven to v3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove @types/leven
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: update lint script
  package.json
Due: prettier-eslint --write

chore: use import-sort
  .importsortrc.yml
  .lintstagedrc.yml
  package.json
  src/index.ts
  src/lib/fillDefaultOptions.ts
  src/lib/matchItemProcessor.test.ts
  src/lib/matchItemProcessor.ts
  src/lib/normalizeString.test.ts
  src/lib/normalizeString.ts
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 2.0.3
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

Revert "fix(deps): update dependency leven to v3 (#132)"
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 2.0.4
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

docs: explain v2.0.4
  CHANGELOG.md
Due: markdownlint

chore(deps): update dependency eslint to v5.15.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.3.4000
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @babel/preset-env to v7.4.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.14.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @types/ramda to v0.26.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: only support node >= 6.9
  package.json
Due: prettier-eslint --write

chore(package): yarn upgrade
  yarn.lock
Due: none

feat: accept readonly arguments
  src/index.ts
  src/lib/resultProcessor.ts
  src/types.ts
Due: prettier-eslint --write, eslint --fix

Path conditions:
  prettier-eslint --write: (any of: *.ts) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.ts
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
