Repository foray1010/didyoumean2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

chore: fix lint script
  .eslintignore
  .eslintignore-sync
  package.json
Due: prettier-eslint --write, ignore-sync

chore: set repo lang as javascript for better SEO
  .gitattributes
Due: none

test: fix coverage
  src/errors.ts
  src/index.ts
  src/lib/fillDefaultOptions.ts
Due: prettier-eslint --write, eslint --fix

build: update tsconfig.json
  tsconfig.json
Due: prettier-eslint --write

docs: update README.md
  README.md
Due: markdownlint

feat: export ReturnTypeEnums and ThresholdTypeEnums
  README.md
  src/index.ts
Due: prettier-eslint --write, eslint --fix, markdownlint

chore: code cleanup
  src/types.ts
Due: prettier-eslint --write, eslint --fix

build: auto build before publish
  package.json
Due: prettier-eslint --write

chore(release): 2.0.0-0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: should use dist/index.js as entrypoint
  package.json
Due: prettier-eslint --write

chore(release): 2.0.0-1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

docs: remove prerelease from CHANGELOG.md
  CHANGELOG.md
Due: markdownlint

Add renovate.json
  renovate.json
Due: prettier-eslint --write

chore: do not include src/ folder in release
  .gitignore
  .npmignore
  .npmignore-sync
Due: ignore-sync

chore: upgrade jest to v24
  .babelrc
  .jestrc.json
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! build(deps-dev): bump eslint-config-foray1010 from 6.17.4 to 6.19.0
  src/types.ts
Due: prettier-eslint --write, eslint --fix

chore: update renovate config
  .renovaterc.json
  renovate.json
Due: prettier-eslint --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v7.5.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: allow renovate to auto merge minor/patch update
  .renovaterc.json
Due: prettier-eslint --write

chore(deps): update dependency @types/seamless-immutable to v7.1.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.12.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.3.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v1.3.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.13.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: do not publish tsconfig.json
  .gitignore
  .npmignore
  .npmignore-sync
Due: ignore-sync

ci: follow circleci config style
  .circleci/config.yml
  .npmignore
  .npmignore-sync
  circle.yml
  package.json
Due: prettier-eslint --write, ignore-sync

chore: add typecheck script and run in ci
  package.json
Due: prettier-eslint --write

test: run typescript on test files
  package.json
  src/index.test.ts
  src/lib/fillDefaultOptions.test.ts
  src/lib/resultProcessor.test.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint --fix

Path conditions:
  prettier-eslint --write: (any of: *.ts) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.ts
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
